<%= form_for(@siri) do |f| %>
  <% if @siri.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@siri.errors.count, "error") %> prohibited this siri from being saved:</h2>

      <ul>
      <% @siri.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation %><br>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
